.im1{
    height: 600px;
}
.t{
    color: black;
    font-family: "Bebas Neue", sans-serif;

}
.head{
    font-family: "Bebas Neue", sans-serif;
    padding-left: 50px;
}
.d{
    font-family: "Bebas Neue", sans-serif;
}
